# This file is part of Hadoop-Gpl-Compression.
#
# Hadoop-Gpl-Compression is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version 3 of
# the License, or (at your option) any later version.
#
# Hadoop-Gpl-Compression is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Hadoop-Gpl-Compression.  If not, see
# <http://www.gnu.org/licenses/>.

#
# autom4te configuration for hadoop-gpl-compression library
#

begin-language: "Autoheader-preselections"
args: --no-cache 
end-language: "Autoheader-preselections"

begin-language: "Automake-preselections"
args: --no-cache 
end-language: "Automake-preselections"

begin-language: "Autoreconf-preselections"
args: --no-cache 
end-language: "Autoreconf-preselections"

begin-language: "Autoconf-without-aclocal-m4"
args: --no-cache 
end-language: "Autoconf-without-aclocal-m4"

begin-language: "Autoconf"
args: --no-cache 
end-language: "Autoconf"

